%p#notice= notice

%p
  %b Name:
  = @product_category.name
%p
  %b Ancestry:
  = @product_category.ancestry

= link_to 'Edit', edit_product_category_path(@product_category)
\|
= link_to 'Back', product_categories_path
