%p#notice= notice

%p
  %b Product:
  = @product_location.product
%p
  %b Location:
  = @product_location.location
%p
  %b Available from:
  = @product_location.available_from
%p
  %b Available to:
  = @product_location.available_to
%p
  %b Best from:
  = @product_location.best_from
%p
  %b Best to:
  = @product_location.best_to

= link_to 'Edit', edit_product_location_path(@product_location)
\|
= link_to 'Back', product_locations_path
